[submodule "plugins/tpm"]
	path = plugins/tpm
	url = git@github.com:tmux-plugins/tpm.git
[submodule "themes/tmux-tomorrow"]
	path = themes/tmux-tomorrow
	url = git@github.com:edouard-lopez/tmux-tomorrow.git
